
doctype html  
html  
  head
    block title
      title The title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type="text/css")
    link(href='/assets/css/min/common.css', rel='stylesheet', type='text/css')
    script(src='/assets/js/common.js',defer)
  body
      
      div.header
        div.container.wrap

          div.header-club-phone.piece.animated.bounceIn 
            i.fa.fa-phone(aria-hidden="true")
            label +800-2345-6789

          div.header-club-name.piece
            label.animated.flipInX BURO DE VENEZUELA

          div.header-club-social.piece.animated.fadeInDown
            label Social Media | Follow Us
              span
                a: i.fa.fa-facebook-official(aria-hidden="true")
                a: i.fa.fa-twitter(aria-hidden="true")
                a: i.fa.fa-instagram(aria-hidden="true")
                a: i.fa.fa-google-plus(aria-hidden="true")


      include _menu
      block content
      block footer
    