
block content
    div.context.wrap.box.row
      div.row
        h1.page-title: span About Us
        div.col-md-6 
          h2.title.animated.flipInX About Us
          div.text
            p We have three world-leading businesses that research, develop and manufacture innovative pharmaceutical medicines, vaccines and consumer healthcare products. We are committed to widening access to our products, so more people can benefit, no matter where they live in the world or what they can afford to pay.
            p As a global healthcare company, we take on some of the world’s biggest healthcare challenges.
            p By delivering a sustainable business, we provide health benefits to patients and consumers, improved shareholder returns as well as supporting wider society. 

        div.col-md-6
          div.row
            h2.title.animated.flipInX Our Mission and Strategy
            div.text
              p We have three world-leading businesses that research, develop and manufacture innovative pharmaceutical medicines, vaccines and consumer healthcare products. We are committed to widening access to our products, so more people can benefit, no matter where they live in the world or what they can afford to pay.


            h2.title.animated.flipInX What We Do
            div.text
              p As a global healthcare company, we take on some of the world’s biggest healthcare challenges.
            

            h2.title.animated.flipInX Save the Children Partnership
            div.text
              p By delivering a sustainable business, we provide health benefits to patients and consumers, improved shareholder returns as well as supporting wider society. 

      div.page-buttons.row
        a.more.button.other-page(href="#") OTHER TITLES


