extends _layout
block content
    div#athletes-container
      div.context.box.wrap
        h1.page-title: span Athletes
        div.athletes
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director
          div.athlete-item.col-md-3.col-sm-4
            div.image: img(src="/assets/images/steve-mesler-headshot.jpg")
            div.name: span Steve MESLER
            div.title: span Director