block content
        div.wrap.context.special
            div#logo.animated.flipInY
                img(src="/assets/images/logo.png")
        div.slide-container
            div.slide-template
                div.slide-item
                    img(src='/assets/images/banners/example-slide-350-2.jpg')
                div.slide-item
                    img(src='/assets/images/banners/example-slide-350-1.jpg')
                div.slide-item
                    img(src='/assets/images/banners/example-slide-350-4.jpg')
                div.slide-item
                    img(src='/assets/images/banners/example-slide-350-3.jpg')
