extends _layout

block content
    h1.page-title: span Gallery
    div#gallery-container.container
        ul.row
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")  
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/b/6/d/3/PAR132377.jpg")     
            li.col-sm-4.col-xs-6: img(data-fullscreen="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg",src="http://mediastore4.magnumphotos.com/CoreXDoc/MAG/Media/Home2/c/b/5/3/NN11514863.jpg")        
            
            

    script(defer) setTimeout(function(){ fsgallery.init({data:'#gallery-container.container img'});},1000);