extends _layout

block content
    h1.page-title: span Gallery
    div#gallery-container.container
        ul.row
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     
            li.col-md-3.col-sm-4.col-xs-6: img(src="https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/6290/SITours/private-tour-amsterdam-rembrandt-art-walking-tour-including-in-amsterdam-428301.jpg")     