extends ./_layout

block title  
  title Welcome to BURO DE VENEZUELA
  

block content 
  include banner
  include about-main
  div.hr
  include personal-content
  div.hr
  include news-content
  div.hr
  include worktime-content
  div.hr
  include contact-content