block content
    div#news-container
        div.container.box
                    h1.page-title: span Our News
                    div
                        ul.row
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                        
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                        
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                        
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                        
                            li.news-item.col-md-6.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                    div.read: a.mini-btn.more(href="javascript:;") Read More
                        
                        