block content
    div#news-container
        div.container.box
                    h1.page-title: span Our News
                    div
                        ul.row
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.

                        
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                        
                        
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.

                        
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.
                        
                        
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                      p Also, cash puts you in a position to buy when everyone else wants to sell, allowing you to make money in good and bad times. For this very reason, I encourage people to have an "opportunity fund" as well as an emergency fund. The opportunity fund is cash set aside that you can use to invest during bad times in the real estate or stock markets.

                        
                            li.news-item
                              div.row
                                div.image.col-sm-4: img(src="/assets/images/news/news1.jpg")
                                div.news-content.col-sm-8
                                    div.date 10.01.2001 11:12:23
                                    div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.

                        
                        