block content
    div#news-container
        div.context.wrap.row.box
            div.col-md-6
                h1.page-title News
                div
                    ul 
                        li.news-item
                            div.image: img(src="/assets/images/news/news1.jpg")
                            div.news-content
                                div.date 10.01.2001 11:12:23
                                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                div.read: a.mini-btn.more(href="javascript:;") Read More
                      
                        li.news-item
                            div.image: img(src="/assets/images/news/news1.jpg")
                            div.news-content
                                div.date 10.01.2001 11:12:23
                                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                div.read: a.mini-btn.more(href="javascript:;") Read More
                      
                        li.news-item
                            div.image: img(src="/assets/images/news/news1.jpg")
                            div.news-content
                                div.date 10.01.2001 11:12:23
                                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
                                div.read: a.mini-btn.more(href="javascript:;") Read More
                      
                    div.link-buttons
                        a.link.reverse.more(href="#") Other Headlines
            
            div.col-md-6
                h1 Other News