div#personal-container
    div#personal-list.context.wrap.box.row
        h1.page-title  Who are We
        ul
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT
                    
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT
            li.col-md-4
                    div.img: img(src="http://neesham.net/wp-content/uploads/2016/01/Profile-Pic.jpg")
                    h1.name: label MARTIN BENTLEY
                    h2.title: label SOFTWARE ENGINEER
                    div.link-buttons.oval: a.link.reverse.v2 ABOUT