div#inner-menu.context
    ul
        li: a(href="#") HOME PAGE
        li.active: a(href="#") ABOUT US
        li: a(href="#") ATHLETES
        li: a(href="#") NEWS
        li: a(href="#") GALLERY
        li: a(href="#") CONTACT