
block content

    div.context.wrap.box.row
      div.col-md-6 
        h1.bold.animated.flipInX ABOUT US
        div
          p We have three world-leading businesses that research, develop and manufacture innovative pharmaceutical medicines, vaccines and consumer healthcare products. We are committed to widening access to our products, so more people can benefit, no matter where they live in the world or what they can afford to pay.
          p As a global healthcare company, we take on some of the world’s biggest healthcare challenges.
          p By delivering a sustainable business, we provide health benefits to patients and consumers, improved shareholder returns as well as supporting wider society. 

      div.col-md-6
        div
          h1.bold2.animated.flipInX Our Mission and Strategy
          div
            p We have three world-leading businesses that research, develop and manufacture innovative pharmaceutical medicines, vaccines and consumer healthcare products. We are committed to widening access to our products, so more people can benefit, no matter where they live in the world or what they can afford to pay.


          h1.bold2.animated.flipInX What We Do
          div
            p As a global healthcare company, we take on some of the world’s biggest healthcare challenges.
          

          h1.bold2.animated.flipInX Save the Children Partnership
          div
            p By delivering a sustainable business, we provide health benefits to patients and consumers, improved shareholder returns as well as supporting wider society. 

                


