extends ./_layout

block title  
  title Welcome to BURO DE VENEZUELA
  

block content 
  div#club-banner-container
    div#logo.animated.zoomInDown
      img(src="https://www.deluxe.com/sites/www.deluxe.com/files/logo_design/logo/logo-samples-34-300x300.png",alt="Bufalo",title="Click for Home Page")
    div.template
      div.item.animated.fadeIn(style="background-image:url('assets/images/computer-1149148_1920.jpg')")

      
  include about-content
  div.hr
  include personal-content
  div.hr
  include worktime-content
  div.hr
  include contact-content
