block content
    h1.title NEWS
    div#news-container
        ul 
            li.news-item
                div.date 10.01.2001 11:12:23
                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior.
            li.news-item 
                div.date 10.01.2001 11:12:23
                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior
            li.news-item 
                div.date 10.01.2001 11:12:23
                div.text Scientists have likened the icy Glacier Bay to a living laboratory due to the park's glacial retreat, plant succession, and animal behavior
        
        div.other
            a.detail(href="#") Other Headlines