block content
    a: i.fa.fa-facebook-official(aria-hidden="true")
    a: i.fa.fa-twitter(aria-hidden="true")
    a: i.fa.fa-instagram(aria-hidden="true")
    a: i.fa.fa-google-plus(aria-hidden="true")