div#worktime-container
    div.context.wrap.box
        h1.title WORK TIME

        table.worktime-table.hidden-xs
            thead
                tr 
                    th.arrow.arrow-down TIME/HOURS
                    th MONDAY
                    th TUESDAY
                    th WEDNESDAY
                    th THURSDAY
                    th FRIDAY
                    th SATURDAY
                    th SUNDAY
            tbody
                tr
                    td 09:00
                    td &nbsp;
                    td.active: i Here you will find a range of resources including
                    td &nbsp;
                    td.active: i Explore our three business area portfolios for more information
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                tr
                    td 10:00
                    td &nbsp;
                    td &nbsp;
                    td.active: i Here you will find a range of resources including
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                tr
                    td 12:00
                    td.active: i Here you will find a range of resources including
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                tr
                    td 13:00
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td.active: i Explore our three business area portfolios for more information
                    td &nbsp;
                    td &nbsp;
                tr
                    td 21:00
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td.active: i Here you will find a range of resources including
                    td.active: i Here you will find a range of resources including
                    td &nbsp;
            
        
        div#worktime-mini.visible-xs.hidden-md.hidden-lg
                div.item.arrow.arrow-down
                    label.day-name MONDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.item.arrow.arrow-down 
                    label.day-name TUESDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information
                    
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.day-item
                    label.time 09:00
                    label.comment For each country, TomTom creates a congestion level percentage, which represents the amount of extra travel time drivers endure because of traffic

                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information


                div.item.arrow.arrow-down 
                    label.day-name WEDNESDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information
                    
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information


                div.item.arrow.arrow-down 
                    label.day-name THURSDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information
                    
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.item.arrow.arrow-down 
                    label.day-name FRIDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.item.arrow.arrow-down 
                    label.day-name SATURDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information

                div.item.arrow.arrow-down 
                    label.day-name SUNDAY
                div.day-item
                    label.time 09:00
                    label.comment Explore our three business area portfolios for more information