/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');*/

@import url('/assets/css/bootstrap.min.css');
$backColor:#a9a9a9;
$backColor2:#7fb7d8;
$backColor3:#6490ab;
$backColor4:#d6cec6;
$textcolor1:#72635d;
$backColor5:#c54343;
label,
div,
span,
ul,
li,
ol,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    &.main {
        padding: 10px 30px;
        border-radius: 40px;
        background-color: #448daf;
    }
    &.detail {
        font-size: 20px;
        text-decoration: underline !important;
        background-color: #333;
        display: inline-block;
        &:hover {
            text-decoration: none !important;
        }
    }
}

body,
html {
    padding: 0;
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

div {
    &.hr {
        border-bottom: 1px dashed #ccc;
        margin: 10 0;
    }
    &.other {
        text-align: center;
        margin: 20px 0;
    }
}

h2.bold {
    font-size: 16px;
    padding: 3px 10px;
    background: $backColor;
    color: white;
    display: inline-block;
    border-radius: 3px;
    &.arrow {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            border: 10px solid transparent;
        }
        &.arrow-down::after {
            position: absolute;
            border-top-color: $backColor;
            top: 100%;
            left: 20px;
        }
    }
}

ul.list {
    list-style-type: none;
    padding: 10px;
    padding: 10px;
    border: 1px solid #eee;
}

.wrap {
    position: relative;
}

.box {
    padding: 30px;
}

.special {
    height: 0;
}

div.custom-border-dashed {
    border-bottom: 1px dashed #ccc;
    box-shadow: 0 4px 20px -6px #4c4c4c;
}

div.header {
    clear: both;
    padding: 10px;
    color: #888;
    font-size: 17px;
    position: relative;
    z-index: 10;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
    @extend .custom-border-dashed;
    div.piece {
        display: inline-block;
        vertical-align: middle;
    }
    div.header-club-phone {
        margin-right: 20px;
        i {
            vertical-align: middle;
            color: #34CCFF;
        }
        label {
            display: inline-block;
            margin: 0 10px;
            vertical-align: middle;
        }
    }
    div.header-club-name {
        label {
            display: block;
            font-weight: bold;
        }
    }
    div.header-club-social {
        float: right;
        label {
            display: inline-block;
            font-size: 12px;
        }
        span {
            display: inline-block;
            margin-left: 10px;
            i {
                display: inline-block;
                padding: 5px;
                color: #777;
                font-size: 20px;
            }
        }
    }
}

.customcolor {
    -webkit-filter: brightness(1.3) contrast(1.1) hue-rotate(-10deg);
    filter: brightness(1.3) contrast(1.1) hue-rotate(-10deg);
}

#club-banner-container {
    overflow: hidden;
    background-color: #f5f5f5;
    border-bottom: 1px dashed #ccc;
    .template {
        position: relative;
        display: table;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 20px 10px #ccc;
        .item {
            display: table-cell;
            height: 500px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            img {
                display: block;
                width: 100%;
                @extend .customcolor;
            }
        }
    }
}

div#logo {
    width: 200px;
    position: absolute;
    left: 40px;
    top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 100;
    padding: 10px;
    img {
        display: block;
        width: 100%;
        filter: drop-shadow(0 0 20px #fff)
    }
}

div#inner-menu {
    ul {
        display: block;
        padding: 0 35px 0 0;
        background-color: $backColor3;
        li {
            display: inline-block;
            border-right: 1px dotted $backColor2;
            position: relative;
            font-weight: bold;
            &:last-child {
                border-right: 0;
            }
            a {
                font-size: 14px;
                color: white;
                padding: 20px;
                display: block;
            }
            &.active::after {
                content: '';
                position: absolute;
                border: 10px solid transparent;
                border-top-color: $backColor2;
                top: 100%;
                left: 42%;
            }
            &.active,
            &:hover {
                border-radius: 0 0 3px 3px;
                background-color: $backColor2;
                -webkit-filter: drop-shadow(0 1px 1px $backColor3);
                filter: drop-shadow(0 1px 1px $backColor3)
            }
        }
    }
}

div.tooltip-container {
    height: 0px;
    position: relative;
    z-index: 11;
    filter: drop-shadow(1px 1px 1px #900);
    div.tooltip-message {
        position: relative;
        color: white;
        padding: 5px 10px;
        text-align: center;
        font-size: 13px;
        margin: 2px 0;
        background-color: $backColor5;
        display: inline-block;
        border-radius: 3px;
        animation: opacity .3s forwards;
        &::after {
            content: '';
            border: 10px solid transparent;
            width: 0;
            border-bottom-color: $backColor5;
            position: absolute;
            bottom: 100%;
            left: 20px;
        }
    }
}

div#googlemap {
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgba(165, 165, 165, 0.15);
}

@keyframes opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');