#fsg-shadow {
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.fsg-item {
    position: fixed;
    left: 5%;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .7);
    transition: all .2s linear;
    position: fixed;
    max-height: 90%;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        filter: brightness(1.1);
    }
}

.fsg-removed {
    opacity: 0;
}

.fsg-arrow {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    z-index: 100000;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 50px;
        background: white;
    }
}

#fsg-prev {
    bottom: 50px;
    &::before {
        transform: rotate(45deg);
        right: -4px;
    }
    &::after {
        transform: rotate(-45deg);
        left: -4px;
    }
}

#fsg-next {
    top: 50px;
    &::before {
        transform: rotate(-45deg);
        right: -4px;
    }
    &::after {
        transform: rotate(45deg);
        left: -4px;
    }
}