$color1:#60bbce;
$color2:#4e9bab;
$white:white;
$lightgray:#eee;
body {
    font-size: 15px;
    color: #666;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

.button {
    padding: 5px 10px;
    &.other-page {
        padding: 10px 30px;
        background-color: $color1;
        color: $white;
        font-weight: bold;
        &:hover {
            background-color: $lightgray;
            color: $color1;
        }
    }
}

a {
    &.mini-btn {
        padding: 2px 8px;
        background-color: $color1;
        color: white;
        display: inline-block;
        border-radius: 2px;
        font-size: 13px;
        &:active {
            background-color: $color2;
        }
    }
}

h1,
h2,
h3 {
    &.title {
        color: $color1;
        margin: 20px 0;
    }
}

h1 {
    font-size: 30px;
    &.page-title,
    &.section-title {
        text-align: center;
        font-weight: 300;
        margin: 30px 0;
    }
    &.page-title {
        font-size: 50px;
    }
    &.section-title {
        font-size: 30px;
        color: $color1;
    }
}

h2 {
    font-size: 23px;
    &.title {
        font-size: 30px;
    }
}

a {
    &.more {
        &::after {
            content: '...';
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
            position: relative;
            height: 8px;
            margin: 0 0 0 10px;
        }
    }
}

.oval {
    .v1 {
        border-radius: 10px;
    }
    .v2 {
        border-radius: 20px;
    }
    .v3 {
        border-radius: 30px;
    }
    .v4 {
        border-radius: 40px;
    }
}

div {
    &.page-buttons {
        margin: 80px 0 10px 0;
        text-align: center;
        font-size: 15px;
    }
    &.link-buttons {
        text-align: center;
        a.link {
            display: inline-block;
            background-color: #eee;
            padding: 4px 10px;
            font-weight: bold;
            &:hover {
                background-color: $color1;
                color: $white;
            }
            &.reverse {
                background-color: $color1;
                color: $white;
                &:hover {
                    background-color: $white;
                    color: $color1;
                }
            }
        }
    }
}

th {
    background-color: $color1;
    color: $white;
}

.down-arr {
    .arrow {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            border: 15px solid transparent;
        }
        &.arrow-down::after {
            position: absolute;
            border-top-color: $color1;
            top: 100%;
            left: 0;
            right: 0;
            width: 0;
            margin: auto;
        }
    }
}

div#inner-menu {
    background-color: #60bbce;
    ul {
        display: block;
        padding: 0 35px 0 0;
        background-color: $color1;
        li {
            display: inline-block;
            border-right: 1px dotted $color2;
            position: relative;
            font-weight: bold;
            &:last-child {
                border-right: 0;
            }
            a {
                font-size: 14px;
                color: white;
                padding: 20px;
                display: block;
            }
            &.active::after {
                content: '';
                position: absolute;
                border: 10px solid transparent;
                border-top-color: $color1;
                top: 100%;
                left: 42%;
            }
            &.active,
            &:hover {
                border-radius: 0 0 3px 3px;
                background-color: $color1;
                -webkit-filter: drop-shadow(0 1px 1px $color1);
                filter: drop-shadow(0 1px 1px $color1)
            }
        }
    }
}

div.personal.template {
    padding: 100px 40px;
    label {
        font-weight: normal;
    }
    div.personal {
        text-align: center;
        vertical-align: top;
    }
    div.personal.image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        box-shadow: 0 0 0 10px #fff;
        img {
            display: block;
            width: 100%;
        }
        &::after {
            content: '';
            position: relative;
            box-shadow: 0 0 10px 10px #000;
            width: 30px;
            height: 2px;
        }
    }
    div.personal.name {
        font-size: 35px;
        margin: 10px 0;
    }
    div.personal.title {
        font-size: 16px;
        font-weight: bold !important;
    }
    div.personal.degree {
        font-size: 23px;
    }
    div.personal.description {
        font-size: 19px;
        color: #333;
        text-align: left;
    }
    div.personal.social {
        margin: 20px 0;
        i {
            display: inline-block;
            font-size: 30px;
            color: #444;
            margin: 0 10px;
        }
    }
    ul.awards {
        li {
            &::before {
                content: '';
                width: 5px;
                height: 5px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                background-color: $color1;
            }
        }
    }
}

#news-container {
    background-color: #fdfdfd;
    background-size: cover;
}

#contact-social-media {
    text-align: center;
}

div#news-container {
    padding: 20px 0;
    ul {
        li.news-item {
            clear: both;
            margin: 10px 0;
            border-bottom: 1px dashed #ddd;
            padding: 17px 0;
            overflow: hidden;
            div.image {
                float: left;
                width: 193px;
                vertical-align: top;
                margin: 0 10px 10px;
                img {
                    display: block;
                    width: 100%;
                    filter:grayscale(50%);
                }
            }
            div.news-content {
                vertical-align: top;
                overflow: hidden;
                div.date {
                    font-size: 16px;
                    font-weight: bold;
                    color: #487fa0;
                }
                div.text {
                    font-style: italic;
                    margin: 10px 0;
                }
                div.read {}
            }
        }
    }
}